#ct_content {
  background: #d0e4fd;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  height: 300px;
  .title {
    position: relative;
    display: inline-block;
    color: #ffd119;
    font-size: 20px;
    line-height: 1.8;
    background-color: #0e315d;
    border: 2px solid #c4fff5;
    border-radius: 20px;
    padding: 0 50px;
    margin-top: -20px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      background-color: #ffffff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white,
        0px 0px 10px white;
      transform: translate(0, -50%);
    }
    &:before {
      left: 20px;
    }
    &:after {
      right: 20px;
    }
  }
}

// $desktopHD | $tablet | $mobile
@include devicepoint($mobile) {
  #ct_content {
    border-radius: 10px;
    .title {
      font-size: 16px;
      padding: 0 35px;
      &:before,
      &:after {
        width: 7px;
        height: 7px;
        box-shadow: 0px 0px 7px white, 0px 0px 7px white, 0px 0px 7px white,
          0px 0px 7px white;
      }
      &:before {
        left: 15px;
      }
      &:after {
        right: 15px;
      }
    }
  }
}
